body {
    
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    
}
nav{
    width: 100% !important;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    background-color: white;
    
} 
.navbar{
    width: 100%;
}
.container {
    max-width: 600px;
    margin: auto;
    background: rgb(165, 100, 70);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
    text-align: center;
    color: rgb(146, 34, 34);
}
h2 {
    text-align: center;
    color: #ffffff !important;
}
p{
    text-align: center;
    color: #ccc;
}
form {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #181717;
}

button {
    padding: 10px 20px;
    background-color: #5f3333;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #442121;
    border-radius: 10px;
}

#bookResults {
    margin-top: 20px;
}

.book {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.book img {
    max-width: 100px;
    margin-right: 10px;
}

.book {
    display: flex;
    align-items: center; 
}


.navbar .nav-link {
    color: black !important; 

}

.navbar .nav-link:hover {
    color: #bdc9d6; 
}

.navbar-brand {
    color: rgb(163, 18, 18) !important; 
}